<?xml version="1.0"?>
<!--
/**
 * routes.xml
 *
 * @description route to the module Codilar_Zipcode
 * @license  Open Source
 * @link     https://www.codilar.com
 * @copyright Copyright © 2021 Codilar Technologies Pvt. Ltd.. All rights reserved
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="zipcode" frontName="zipcode">
            <module name="Codilar_Zipcode" />
        </route>
    </router>
</config>
